body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    background-size: cover;
}

/*.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;*/ /* Adjust as needed */
/*}*/

h1 {
    color: #258cfb;
}

p {
    margin-bottom: 20px;
}

.map {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    text-align: center;
}

    .map img {
        display: block;
        margin: 0 auto;
        max-width: 100%; /* Ensure images don't exceed container width */
    }

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .button-container button {
        margin: 55px; /* Adjust spacing between buttons */
        padding: 10px 20px; /* Adjust button padding */
        background-color: #007bff; /* Button background color */
        color: white; /* Button text color */
        border: none; /* Remove button border */
        border-radius: 5px; /* Apply border radius */
        cursor: pointer; /* Change cursor to pointer on hover */
    }
