@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Zoo!</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="hero">
        <div class="hero-content">
            <h1>Welcome to Our Zoo</h1>
            <p class="hero-subtitle">A trip around the world in one day!</p>
        </div>
    </div>

    <div class="main-content">
        <div class="offer-section">
            <h2>What Our Zoo Offers</h2>
            <ul>
                <li>Exotic Animals</li>
                <li>Educational Programs</li>
                <li>Interactive Exhibits</li>
                <li>Conservation Efforts</li>
            </ul>
        </div>
        <div class="visit-section">
            <div class="visit-content">
                <h2>Plan Your Next Visit!</h2>
                <p>Explore our zoo and plan your next visit with ease.</p>
                <a href="/sub-page/TicketVender" class="btn">Get Tickets</a>
            </div>
        </div>
    </div>

</body>
</html>